* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #f1f5f8;
}

header {
    background-color: #202124;
    color: #f1f5f8;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    padding: 10px;
    margin-top: 5px;
    border-top: 6px solid #f1f5f8;
}

#logo {
    width: 50px;
    height: auto;
    border: 2px solid #f1f5f8;
}

#logo:hover {
    border-radius: 50%;
}

#brand ul {
    font-size: 20px; 
    font-style: italic; 
    font-variant: normal; 
    font-weight: 100; 
    line-height: 22px; 
    float: right;
    margin-left: 10px;
    padding-top: 4px;
    padding-bottom: 8px;
}

#logo-name {
    font-family: Futura; 
    font-size: 20px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 100; 
    line-height: 22px; 
    text-decoration: underline;
}

nav {
    float: right;
    list-style: none;
    margin-right: 20px;
}

nav li {
    list-style-type:none;
    display: inline-block;
    margin-left: 25px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
}
